@page
@model Afrolance.Pages.Employer.LoginModel
@{
}

<h1>Login Page</h1>

<form method="post">


    <div class="form-group">
        <label asp-for="tEmployer.Employer_Email">Employer Email</label>
        <input asp-for="tEmployer.Employer_Email" type="text" class="form-control" placeholder="Username" />
        <span asp-validation-for="tEmployer.Employer_Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="tEmployer.Employer_PW"></label>
        <input asp-for="tEmployer.Employer_PW" type="password" class="form-control" placeholder="Password" />
        <span asp-validation-for="tEmployer.Employer_PW" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

</form>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


@{
    if (Model.tEmployer != null && Model.tEmployer.Feedback != null)
    {
        <h1>Results</h1>
        <p>@Model.tEmployer.Feedback</p>
    }
}