@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div><h1 class="display-4">Welcome to Afrolance</h1></div>
    <div><p id="Red"> Afrolance is a freelancing that helps freelancers to find jobs by allowing employers to post job announcements publicly for our website members. If you already have an account, you can <a asp-area="" asp-page="/Index">login</a> or you can <a asp-area="" asp-page="/Index">sign up</a> if you are not a member and aim to be one of our freelancers or employers.</p></div>
    
</div>
