@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div><h1 class="display-4">Welcome to Afrolance</h1></div>
    <div><p style="font-size:16px; margin-top:5%;"> Afrolance is a job recruiting website, our goal is to offer an oportunity to young freelancer who seek for experience to get into the professional world small temporary jobs offered by companies, businesses, or individuals who post job announcement on the website. This will create an opportunity to freelancer to have a remunerated first step into the professional world and also gives companies the opportunity to get simple jobs done without having to hire the expensive services of an expert. To start using Afrolance, you need to Sign Up or Log In first in the <a asp-area="" asp-page="/Login">Login/Sign Up</a> page where you can register to your account or create a new one if you are not a member and come one of our freelancers or employers.</p></div>

</div>


<div>
    <img src="~/Images/home.jpg" alt="shooter" style="display: block; margin: auto; padding-top: 5%;"/>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>