@page
@model Afrolance.Pages.ProfilePageModel
@{
}

<div>
    <div class="card">
        <img src="img.jpg" style="width:100%">
        <h1>First Name and Last Name</h1>
        <p class="title">Freelancer Title </p>
        <p>Gratuated University</p>
        <p>Gratuated HS</p>
    </div>
</div>